.close-button {
  color: white;
  text-align: right;
}

.close-button:hover {
  cursor: pointer;
}

.output-divs {
  text-align: left;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none;
  /* border: 1px dotted black; */
  /* border-radius: 5px; */
}

.output-divs button {
  box-shadow: none;
}

.buttons-1 {
  /* display: flex; */
  /* padding-left: 10px; */
}

.key-text {
  cursor: pointer;
  transition: color 0.3s ease;
}

.collapse-button {
  /* display: none; */
  /* font-size: 10px; */
  /* margin-left: -27px; */
  /* background-color: red; */
  /* position: relative; */
  color: black;
  width: 10px;
  padding: 0 5px;
  /* border: 1px solid black; */
}

.collapse-button button {
}

.collapse-button button:hover {
  /* border: 1px solid black; */
  cursor: pointer;
  background-color: white;
  border: 1px solid red;
  /* font-weight: bold; */
}

.clickable-keys {
  padding: 0px;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  line-height: 0.8rem;
  color: black;
}

.clickable-keys:hover {
  color: black;
  cursor: pointer;
  /* background-color: white !important; */
  /* border: 1px dotted black; */
  transition: 0.5s;
}

.collapsed:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.clickable-keys:hover .value {
  display: inline !important;
  /* font-size: 0.7rem !important; */
  font-weight: none !important;
}

#pre-path-area {
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 85vw;
}

/* button:hover {
  cursor: pointer;
} */

#pre-path-area:hover {
  cursor: pointer;
}

@keyframes colorChange {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

ul {
  /* margin-left: 20px; */
  margin-left: 0;
}

li {
  line-height: 0;
  margin-left: 2rem;
  font-size: 0.7rem;
}

i {
  color: black;
}

.first-ul button,
.second-ul button {
  /* width: 10px; */
  height: 10px;
  padding: 0 15px;
}

.first-ul button:hover,
.second-ul button:hover {
  background-color: white;
}

button:hover {
  background-color: white;
}

.white-background button:hover {
}

.white-background {
  background-color: transparent;
  cursor: default !important;
  color: transparent;
}

.white-background:hover {
  background-color: none;
}

.exp-button {
  /* background-color: red; */
}

.white-background button:hover {
}
