.close-button {
  color: white;
  text-align: right;
}

.close-button:hover {
  cursor: pointer;
}

.output-divs {
  text-align: left;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: none;
  /* border: 1px dotted black; */
  /* border-radius: 5px; */
}

.output-divs button {
  box-shadow: none;
}

button {
  font-size: 0.7rem;
}

.buttons-1 {
  /* display: flex; */
  /* padding-left: 10px; */
}

.key-text {
  cursor: pointer;
  transition: color 0.3s ease;
}

.collapse-button {
  /* display: none; */
  font-size: 10px;
  margin-left: -27px;
  /* background-color: red; */
  position: relative;
  color: black;
  /* outline: 1px solid black; */

  /* left: -20px; */
  /* border: 1px solid black; */
  /* background-color: yellow; */
  /* position: relative;
  left: -20px; */
}

.collapse-button:hover {
  /* border: 1px solid black; */
  cursor: crosshair;
  /* font-weight: bold; */
}

.white-background {
  background-color: transparent;
  cursor: default !important;
  outline: none;

  color: transparent;
}

.white-background:hover {
  background-color: transparent;
}

.clickable_keys {
  padding: 0px;
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  line-height: 0.9em;
  color: black;
}

.clickable_keys:hover {
  color: black;
  cursor: pointer;
  /* background-color: white !important; */
  /* border: 1px dotted black; */
  transition: 0.5s;
}

.collapsed:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.clickable_keys:hover .value {
  display: inline !important;
  font-size: 0.7rem !important;
  font-weight: none !important;
}

#pre-path-area {
  white-space: normal;
  overflow-wrap: break-word;
  max-width: 85vw;
}

/* button:hover {
  cursor: pointer;
} */

#pre-path-area:hover {
  cursor: pointer;
}

@keyframes colorChange {
  0% {
    color: white;
  }
  50% {
    color: black;
  }
  100% {
    color: white;
  }
}

ul {
  /* margin-left: 20px; */
  margin-left: 0;
}

li {
  line-height: 0;
  margin-left: 2rem;
}

i {
  color: black;
}
